include partials/header.pug

mixin api(api)
  article.api
    .api__inner
      h2.api__title=api.title
      p.api__desc=api.desc
      h3 API Endpoints
      ul
        each ep in api.endPoints
          li
            a.api__link(href=`${api.link}/${ep}`)=`${api.link}/${ep}`

body
  main#app
    article.site
      .site__inner
        h1.site__title Sample APIs
        p
          | Welcome to SampleAPIs. A playground for messing with RESTful endpoints.
        p
        | You can use any HTTP verbs (GET, POST, PUT, PATCH and DELETE).
        p.disclaimer
          | * The data on this site will be reset on a regular basis.

        h2 Getting an API key
        p
          | You can always simply browse the data in these APIs using the endpoints provided. 
        p
          | HOWEVER, if you want to add/remove/change data, and view that changed data reflected 
          | in the endpoints, you will need an API key.
        p
          | To get an API key, you will need to go to 
          a(href="/token?email=") /token?email=
          |  and add your AP Hogeschool email adress in the request. This will provide you with a
          | unique API key to use in your requests.
        p 
          | To use your API key, you will need to add it as a bearer token. 

          | A bearer token can be included in a request by adding an Authorization request header with the prefix "Bearer"
        
        p.example_code example code:
        .code-group
          button.copy Copy
          .copied
            p Copied!
          code(spellcheck="false")
            p  // auth header with bearer token
            p const headers = { 'Authorization': 'Bearer my-token' };
            p const baseURL = "https://sampleapis.assimilate.be/futurama/characters/";
            p fetch(baseURL, {headers})
            p   .then(resp => resp.json())
            p   .then(data => console.log(data));
          textarea.hidden

        h2 GET requests
        p.Explanation To retrieve data from an endpoint, you only need a bearer token if you want to retrieve data you have changed (using the same bearer token).

        p.example_code example code:
        .code-group
          button.copy Copy
          .copied
            p Copied!
          code(spellcheck="false")
            p const headers = { 'Authorization': 'Bearer my-token' };
            p const baseURL = "https://sampleapis.assimilate.be/futurama/characters/";
            p fetch(baseURL, {headers})
            p   .then(resp => resp.json())
            p   .then(data => console.log(data));
          textarea.hidden

        p.Explanation Want to Search? Then use this endpoint:
        .code-group
          button.copy Copy
          .copied
            p Copied!
          code(spellcheck="false")
            p const headers = { 'Authorization': 'Bearer my-token' };
            p const baseURL = "https://sampleapis.assimilate.be/futurama/characters/";
            p fetch(`${baseURL}?name.first=Bender`, {headers})
            p   .then(resp => resp.json())
            p   .then(data => console.log(data));
          textarea.hidden

        h2 POST requests
        p.Explanation To add data to an endpoint, you NEED to use a bearer token. Otherwise, your request gets denied.
        .code-group
          button.copy Copy
          .copied
            p Copied!
          code(spellcheck="false")
            p const headers = { method: 'POST', 'Authorization': 'Bearer my-token' };
            p const baseURL = "https://sampleapis.assimilate.be/futurama/characters/";
            p fetch(baseURL, {headers})
            p   .then(resp => resp.json())
            p   .then(data => console.log(data));
          textarea.hidden
    
    section.apis
      each api in apis
        +api(api)

script(src="./scripts/CodeHighlight.js")
script.
  document.querySelectorAll(".code-group").forEach(group => {
    new CodeHighlight(group)
  })